.start-screen {
  background-color: #2148c0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.start-screen .div {
  background-color: #2148c0;
  display: flex;
  width: 1280px;
  height: 720px;
  position: relative;
}

.start-screen .form {
  position: absolute;
  width: 302px;
  height: 229px;
  top: 330px;
  left: 490px;
}

.start-screen .username {
  position: absolute;
  width: 302px;
  height: 45px;
  top: 0;
  left: 0;
}

.start-screen .overlap-group {
  border: 1px solid;
  border-color: #ffffff;
  position: relative;
  width: 300px;
  height: 45px;
  border-radius: 4px;
}

.start-screen .input-field  {
  position: absolute;
  top: 12px;
  left: 50px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  background: transparent;
  color: white;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0;
  line-height: 20px;
  border: none;
}

.start-screen .img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 12px;
  left: 11px;
}

.start-screen .password {
  position: absolute;
  width: 302px;
  height: 45px;
  top: 65px;
  left: 0;
}

.start-screen .login-btn {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 302px;
  height: 45px;
  top: 153px;
  left: 0;
}

.login-btn:hover {
  opacity: 0.6;
}

.start-screen .overlap {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px #0000004c;
  position: relative;
  width: 300px;
  height: 45px;
  border-radius: 4px;
}

.start-screen .login {
  position: absolute;
  top: 13px;
  left: 123px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #2148c0;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.start-screen .text-wrapper-2 {
  position: absolute;
  top: 209px;
  left: 154px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.start-screen .text-wrapper-2:hover {
  color: #f00202;
}
.start-screen .test {
  position: absolute;
  width: 217px;
  height: 194px;
  top: 75px;
  left: 532px;
}

.start-screen .test-2 {
  position: absolute;
  width: 225px;
  height: 202px;
  top: 0;
  left: -4px;
  object-fit: cover;
}

.start-screen .text-wrapper-3 {
  position: absolute;
  width: 286px;
  height: 87px;
  top: -10px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #fffcfc;
  font-size: 30px;
  text-align: left;
  letter-spacing: 0;
  line-height: normal;
}

.login-success {
  background-color: #e1e3e9;
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  width: 100%;
  height: 100%;
}

.login-success .div {
  background-color: #e1e3e9;
  width: 1280px;
  height: 720px;
  position: relative;
}

.login-success .text-wrapper {
  position: absolute;
  width: 600px;
  height: 143px;
  top: 46px;
  left: 349px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 52px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.login-success .f-f {
  position: absolute;
  width: 600px;
  height: 295px;
  top: 198px;
  left: 340px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.login-success .span {
  color: #ff1f1f;
}

.login-success .text-wrapper-2 {
  color: #000000;
}

.login-success .overlap-group {
  position: absolute;
  width: 174px;
  height: 98px;
  top: 525px;
  left: 562px;
  background-color: #ffffff;
  border-radius: 30px;
}



.login-success .image {
  position: absolute;
  width: 124px;
  height: 37px;
  top: 33px;
  left: 27px;
}

.login-success .text-wrapper-3 {
  position: absolute;
  width: 286px;
  height: 87px;
  top: 19px;
  left: 21px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.login-success .element {
  position: absolute;
  width: 247px;
  height: 140px;
  top: 22px;
  left: 1010px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.login-success .start-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.login-success.start-btn .overlap-group .image {
  display: block;
  width: 100px; /* Adjust the width as needed */
  height: auto;
  transition: transform 0.3s ease, opacity 0.3s ease;
}



.login-success .start-btn:hover .overlap-group .image {
  transform: scale(1.1); /* Slightly enlarge the image */
  opacity: 0.8; /* Slightly reduce the opacity */
}


.professor {
  padding: 20px; /* Adjust padding as needed */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.professor .professor-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.professor .overlap-group {
  width: 1080px;
  height: 861px;
  top: 133px;
  left: 329px;
  background-color: #ffffff;
  box-shadow: 0px 15px 40px 5px #ececec;
  position: absolute;
  border-radius: 30px;
}

.professor .image {
  position: absolute;
  width: 213px;
  height: 200px;
  top: 534px;
  left: 585px;
  object-fit: cover;
}

.professor .screen1 {
  top: 209px;
  left: 63px;
  position: absolute;
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.professor .screen2 {
  top: 209px;
  left: 580px;
  position: absolute;
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.professor .image-3 {
  top: 534px;
  left: 63px;
  position: absolute;
  width: 213px;
  height: 200px;
  object-fit: cover;
}

.professor .text-wrapper {
  height: 24px;
  top: 180px;
  left: 57px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.professor .div {
  height: 24px;
  top: 180px;
  left: 585px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.professor .text-wrapper-2 {
  height: 24px;
  top: 504px;
  left: 585px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.professor .text-wrapper-3 {
  height: 24px;
  top: 504px;
  left: 63px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.professor .text-wrapper-4 {
  height: 50px;
  top: 58px;
  left: 881px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #696f79;
  font-size: 33px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.professor .AI-exam-PM {
  position: absolute;
  height: 105px;
  top: 31px;
  left: 266px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #696f79;
  font-size: 70px;
  letter-spacing: 0;
  line-height: normal;
}

.professor .element {
  position: absolute;
  width: 213px;
  height: 200px;
  top: 209px;
  left: 793px;
  object-fit: cover;
}

.professor .element-2 {
  position: absolute;
  width: 213px;
  height: 200px;
  top: 534px;
  left: 798px;
  object-fit: cover;
}

.professor .element-3 {
  position: absolute;
  width: 213px;
  height: 200px;
  top: 209px;
  left: 276px;
  object-fit: cover;
}

.professor .element-4 {
  position: absolute;
  width: 213px;
  height: 200px;
  top: 534px;
  left: 276px;
  object-fit: cover;
}

.professor .overlap {
  width: 356px;
  height: 64px;
  top: 32px;
  left: 1053px;
  background-color: #ffffff;
  box-shadow: 0px 15px 40px 5px #ececec;
  position: absolute;
  border-radius: 30px;
}

.professor .search-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 20px;
  left: 24px;
}

.professor .text-wrapper-5 {
  position: absolute;
  height: 29px;
  top: 13px;
  left: 61px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #696f79;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}

.professor .text-wrapper-6 {
  position: absolute;
  height: 45px;
  top: 42px;
  left: 61px;
  font-family: "Poppins-ExtraBold", Helvetica;
  font-weight: 800;
  color: #696f79;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.professor .text-wrapper-7 {
  position: absolute;
  height: 30px;
  top: 226px;
  left: 127px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #696f79;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.professor .text-wrapper-8 {
  position: absolute;
  height: 30px;
  top: 303px;
  left: 127px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #696f79;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.professor .overlap-2 {
  width: 271px;
  height: 64px;
  top: 133px;
  left: 31px;
  background-color: #8591a5;
  position: absolute;
  border-radius: 30px;
}

.professor .text-wrapper-9 {
  position: absolute;
  height: 30px;
  top: 16px;
  left: 95px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.professor .dashboard-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 20px;
  left: 40px;
}

.professor .support-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 231px;
  left: 74px;
}

.professor .notification-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 308px;
  left: 73px;
}

.professor .log-out-group {
  position: absolute;
  width: 133px;
  height: 30px;
  top: 941px;
  left: 75px;
}

.professor .text-wrapper-10 {
  position: absolute;
  height: 30px;
  top: 0;
  left: 54px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #696f79;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.professor .icon-of-log-out {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 3px;
  left: 0;
}



.testscreen {
  position: relative;
  display: inline-block;
  margin: 20px;
}
.video1{
  position: absolute;
  top: 200px;
  left: 100px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 2px solid #000;
}

.video2{
  position: absolute;
  top: 200px;
  left: 600px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 2px solid #000;
}